<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" data-bs-target="dark">

<head>
<title>Home Page</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
	crossorigin="anonymous">
	<link rel="stylesheet" th:href="@{/style.css}">
</head>

<body>

	<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" th:href="@{/}"><h1 id="logo">eFruttaiulo</h1></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" th:href="@{/}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/crea-prodotto}">Aggiungi Prodotto</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

	<h3>Prodotti del giorno!</h3>
	
	
	<div style="display: flex;">
		<div class="card" style="width: 18rem;" th:each="prodotto : ${prodotti}">
			<img th:src="@{${prodotto.immagine}}" class="card-img-top" alt="prodotto-fantastico">		<div class="card-body">
			<h5 class="card-title" th:text="${prodotto.nome}"></h5>
			<p class="card-text" th:text="${prodotto.prezzo + '€'}"></p>
			<a th:href="@{/prodotto/{id}(id=${prodotto.id})}" class="btn btn-primary">Dettagli</a>
		</div>
	</div>
	</div>

	

</body>

</html>