<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" data-bs-target="dark">

<head>
<title>Home Page</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
	crossorigin="anonymous">
</head>

<body>
	<nav class="navbar navbar-expand-lg bg-light">
		<div class="container-fluid">
			<a class="navbar-brand" th:href="@{/}"><h1 id="logo">eFruttaiulo</h1></a>
			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#navbarNav"
				aria-controls="navbarNav" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav">
					<li class="nav-item"><a class="nav-link active"
						 th:href="@{/}">Home</a></li>
					<li class="nav-item"  ><a class="nav-link"
						th:href="@{/crea-prodotto}" aria-current="page">Aggiungi Prodotto</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<h3>Aggiungi un nuovo prodotto</h3>

	<form th:action="@{/crea-prodotto}" th:object="${prodotto}"
		method="POST">
		<div class="mb-3">
			<label for="exampleFormControlInput1" class="form-label">Nome
				Prodotto</label> <input type="text" class="form-control" th:field="*{nome}">
		</div>
		<div class="mb-3">
			<label for="exampleFormControlInput1" class="form-label">Immagine
				Prodotto</label> <input type="text" class="form-control"
				th:field="*{immagine}">
		</div>
		<div class="mb-3">
			<label for="exampleFormControlInput1" class="form-label">Prezzo</label>
			<input type="number" class="form-control" step="any"
				th:field="*{prezzo}">
		</div>
		<div class="mb-3">
			<label for="exampleFormControlTextarea1" class="form-label">Descrizione</label>
			<textarea class="form-control" rows="3" th:field="*{descrizione}"></textarea>
		</div>
		<input type="submit" value="Salva Prodotto" class="btn btn-primary">
	</form>

</body>

</html>