/* body {
background-color: #AFA9E4;
color: #392B58;
} */

fieldset, legend {
all: revert;
border-color: #392B58;
border-width: 2px;
border-radius: 24px;
}

.tagTitolo {
text-decoration: underline;
}

.centrato {
width: 100%;
height: 100%;
text-align: center;
}

.tabellaContainer {
display: flex;
justify-content: center;
}

.tabella {
min-width: 40%;
max-width: 80%;
text-align: center;
    
}

.ricerca {
margin-left: auto;
margin-right: auto;
width: 50%;
}

.formDiv {
display: inline-flex;
}

.formLibro * {
margin: 4px;
}

body {
    font-family: 'Inter', sans-serif;
}

.glass {
    background: rgba(9, 85, 123, 0.071);
    backdrop-filter: blur(15px);
    border-radius: 24px;
    padding: 24px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease-in-out;
}

.glass_nav {
    background: linear-gradient(to right, rgba(37, 127, 206, 0.615), rgba(54, 14, 103, 0.42));
    backdrop-filter: blur(14px);
    border-radius: 60px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
}

.mdb-button {
    background-color: #6200ea;
    /* Material Primary */
    color: white;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 8px;
    border: none;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease-in-out;
}

.mdb-button:hover {
    background-color: #3700b3;
    /* Material Hover */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
}

.bg_color {
    background: rgba(0, 0, 0, 0.987);
    min-height: 160vh;
    min-width: 100vw;
    background-size: cover;
    background-position: center;
}

.bg-image {
    position: relative;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    backdrop-filter: blur(20px);
    height: 100%;
    width: 100vw;
    z-index: 1;
}

.bg-image::before {
    content: '';
    position: absolute;
    backdrop-filter: blur(20px);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: -1;
}


.card_bg {
    background: rgba(5, 0, 44, 0.213);
    backdrop-filter: blur(12px);
    border: 1px solid rgba(102, 102, 102, 0.229);
    border-radius: 30px;
    padding: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}


.card {
    
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
}

.squared-btn {
    width: 120px;
    height: 100px;
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    border: 2px solid #1E90FF;
    color: #1E90FF;
    transition: background-color 0.3s, color 0.3s;
    background: rgba(16, 168, 244, 0.035);
    backdrop-filter: blur(20px);
    border-radius: 24px;
    padding: 24px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.2);
    z-index: 2;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
}



.card-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-text {
    font-size: small;
    color: rgb(199, 198, 198);
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}

.overflow {
    overflow: visible;
    height: 100%;
}

.accent {
    color: rgb(198, 153, 209);
}

.footer_image {
    position: relative;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    width: 200px;
    height: 280px;
    z-index: 1;
}

.footer_color {
        /* backdrop-filter: blur(15px);
        border-radius: 24px;
        padding: 24px;
        box-shadow: 0 6px 12px rgb(246, 6, 6);
        transition: all 0.3s ease-in-out;
    background-position: center; */
  background-color:rgba(9, 144, 255, 0)
}
